<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.fmmall.dao.IUserDao">
    <resultMap id="userMap" type="com.qfedu.fmmall.entity.User">
        <id property="id" column="user_id"/>
        <result property="username" column="username"/>
        <result property="birthday" column="user_birth"/>
    </resultMap>

    <select id="queryUserByName" resultMap="userMap">
        SELECT * FROM users where username=#{name}
    </select>
</mapper>